body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  background:linear-gradient(to right, rgb(224, 0, 166), rgb(19, 215, 230));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  cursor: pointer;
}